@font-face {
  font-family: 'LemonMilk';
  src: url("../../public/fonts/Lemon\ Milk\ Pro\ Regular.otf");
  font-weight: 400; /* Normal weight */
  font-style: normal; /* Normal style */
}


body{
  background-color: #D2FFF5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}