.main_container{
    display: flex;
    position: fixed;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'LemonMilk', sans-serif;
    color: white;
    padding: 3vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00665E;
    border-radius: 35px;
    width: 45vw;
    max-height: 65vh;
    min-height: 65vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
}

.main_container h1{
    margin-bottom: 30px;
    filter: drop-shadow(6px 6px 5px #00000094);
}

.main_container a{
    color:#A7F1D9;
}

.nagarro a:hover{
    color:#003927;
    text-decoration: underline;
}
.nagarro a{
    color:#00110c;
}

.main_container a:hover{
    color:#2e9a78;
    text-decoration: underline;
}

.back{
    margin-bottom: 30px;
    background-color: #A7F1D9;
    color: #003B2D;
    padding: 5px 30px;
    border-radius: 35px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.back:hover{
    opacity: 80%;
    text-decoration: underline;
    border-radius: 5px;
}

.introduction{
    text-align: center;
}

.nagarro{
    margin: 1vh 0;
    padding: 1vh 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #A7F1D9;
    color:#011f18;
    border-radius: 35px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.ubb{
    text-align: end;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    display: flex;
    flex-direction: row;
}

.img{
    text-align: end;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.text{
    padding: 5px;
}

.img img{
    border-radius: 35px;
    height: 15vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
